{% extends 'main.html'%}
{% block tittle %}
Update the Post
{% endblock %}

{% block body %}
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="/create-article" class="nav-link">Создать пост</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Редактировать свои работы</a></li>
        <li class="nav-item"><a href="#" class="nav-link">О разработчике</a></li>
      </ul>
    </header>
<div class="container mt-5">
    <h1>Обновление статьи</h1>
    <form method="post">
        <input type="text" name="tittle" id="tittle" class="form-control" placeholder="Введите название"
               value="{{article.tittle}}"><br>
        <textarea name="author" id="author" class="form-control" placeholder="Как вас называть?">{{article
            .author}}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст">{{article.text}}</textarea><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>

{% endblock %}